@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
:root {
  --bgcolor: white;
  --btext: rgba(0, 0, 0, 0.7);
  --titlecolor: rgb(156, 104, 130);
  --pink: rgb(180, 120, 150);
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: "Ibarra Real Nova", serif;
}
@media (max-width: 786px) {
  * {
    overflow-x: hidden;
  }
}

.about {
  background-color: var(--bgcolor);
  color: var(--btext);
  align-items: center;
}
@media (max-width: 500px) {
  .about {
    padding-bottom: 20px;
  }
}

header {
  background-color: black;
}

.title {
  font-family: "Cinzel", serif;
  text-align: center;
  color: var(--titlecolor);
  padding-top: 20px;
}
@media (max-width: 500px) {
  .title {
    font-size: 20px;
    overflow: hidden;
  }
}

.title__main {
  font-family: "Cinzel", serif;
  text-align: center;
  color: var(--titlecolor);
  padding-top: 200px;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .title__main {
    font-size: 20px;
    padding-top: 0px;
  }
}

.leftside {
  text-align: center;
  align-items: center;
  font-size: 1vw;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Cinzel", serif;
  height: auto;
  max-height: 600px;
}
@media (min-width: 750px) {
  .leftside {
    height: 100vh;
    width: 450px;
  }
}

.cennik {
  width: 1000px;
  height: auto;
  height: auto;
  padding-bottom: 5px;
  padding-top: 5px;
}
@media (min-width: 750px) {
  .cennik {
    padding: 0;
    max-width: 350px;
    height: auto;
  }
}

.rightside {
  text-align: center;
  align-items: center;
  font-size: 1vw;
  max-width: 0px;
  margin: 0 auto;
  font-family: "Cinzel", serif;
  height: auto;
  padding-left: 300px;
  text-align: justify;
  max-height: 600px;
}

.portrait_small {
  padding-top: 70px;
  width: 600px;
  padding-left: 150px;
}
@media (max-width: 500px) {
  .portrait_small {
    width: 300px;
    padding: 0;
  }
}

.portrait__small__main {
  padding-top: 70px;
  width: 600px;
  padding-left: 50px;
}
@media (max-width: 500px) {
  .portrait__small__main {
    width: 300px;
    padding: 0;
  }
}

.lead__about {
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding-top: 150px;
  height: auto;
  font-size: 1vw;
  text-align: justify;
}
@media (max-width: 500px) {
  .lead__about {
    font-size: 13px;
    max-width: 350px;
    padding-top: 50px;
  }
}

.right__side__about,
.left__side__about {
  padding-top: 50px;
  text-align: center;
  align-items: center;
  font-size: 1vw;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 25px;
  text-align: justify;
}
@media (max-width: 500px) {
  .right__side__about,
.left__side__about {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 0;
    width: 300px;
  }
}

.right__side,
.left__side {
  text-align: center;
  align-items: center;
  font-size: 1vw;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 25px;
  text-align: justify;
}
@media (max-width: 500px) {
  .right__side,
.left__side {
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 0;
    width: 300px;
  }
}

.aboutme {
  margin: 0 auto;
}

.right__side__about {
  margin: 0 auto;
}
@media (max-width: 500px) {
  .right__side__about {
    padding-bottom: 50px;
    padding-top: 0;
    width: 400px;
  }
}

li {
  list-style: none;
}

a {
  color: aliceblue;
  text-decoration: none;
  transition: 0.7s ease;
}
a:hover {
  color: var(--pink);
}

.nav {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  padding-top: 10px;
  opacity: 50%;
  color: var(--pink);
  font-family: "Cinzel", serif;
}
.nav-logo {
  height: 75px;
  width: auto;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
@media (max-width: 500px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-menu.active {
    left: 0;
    position: relative;
    padding-bottom: 50px;
  }
}
.nav-link {
  transition: 0.7s ease;
  font-family: "Cinzel", serif;
  color: var(--pink);
}
.nav-link:hover {
  color: var(--pink);
}
@media (max-width: 786px) {
  .nav-item {
    margin: 16px;
    background: none;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: white;
}

.mainpage {
  border-radius: 50%;
  max-height: 400px;
  width: auto;
}

.parallax {
  background-image: url("../../images/background1.png");
}
@media (max-width: 786px) {
  .parallax {
    min-height: 200px;
  }
}

.parallax2 {
  background-image: url("../../images/portfolio/8.jpg");
}
@media (max-width: 786px) {
  .parallax2 {
    min-height: 300px;
  }
}

.parallax,
.parralax2 {
  min-height: 700px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bgcolor);
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
}
@media (max-width: 786px) {
  .parallax,
.parralax2 {
    background-attachment: inherit !important;
  }
}

.portrait {
  width: 600px;
  height: auto;
  padding-top: 150px;
  border-bottom: double 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 786px) {
  .portrait {
    width: 400px;
    font-size: 13px;
    overflow-x: hidden;
    padding-top: 50px;
    margin: 0 auto;
  }
}

.thanks {
  padding: 150px 50px 150px 50px;
  opacity: 100%;
}

.footer {
  color: aliceblue;
  justify-content: space-between;
  font-family: "Ibarra Real Nova", serif;
}
@media (max-width: 500px) {
  .footer {
    padding-top: 50px;
    margin: 0 auto;
    justify-content: center;
  }
}
.footer__logo {
  display: block;
  height: 200px;
  width: auto;
  padding-top: 25px;
  padding-left: 50px;
}
@media (max-width: 500px) {
  .footer__logo {
    width: 350px;
    padding-right: 40px;
    padding-left: -15px;
  }
}

.col {
  opacity: 50%;
  padding-top: 20px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .col {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

.row {
  color: aliceblue;
  background-color: black;
  text-decoration-style: solid;
  text-align: justify;
}
@media (max-width: 500px) {
  .row {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

.svg {
  padding-top: 20px;
}

@media (max-width: 786px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*# sourceMappingURL=main.css.map */
