.centered {
    margin: 0 auto;
    width: 1400px;
}
.gallery__grid__large>img {
    padding: 8px;
    width: 1400px;
    box-sizing: padding-box;
}
.gallery__grid__large {
    box-sizing: content-box;
    align-items: center;
    display: block;
    justify-content: center;

}
.image__grid .a {
    --gap: 8px;
    --num-cols: 2;
    padding: var(--gap);
    width: 1400px;
    padding-right: 0;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
}
.image__grid__3 .a {
    --gap: 5px;
    --num-cols: 3;
    padding: var(--gap);
    width: 1400px;

    padding-right: 5px;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    gap: var(--gap);
}
.image__grid__3>img {
    width: 460px;
    height: auto;
}

.image__grid>img {
    width: 690px;
    height: auto;
}

