@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    @media(max-width:786px) {
        overflow-x: hidden;
    }
}

.about {
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
    align-items: center;
    @media(max-width:786px) {
        padding-bottom: 20px;
    }
    
}

header {

    background-color: black;
}

.title{
    font-family: 'Cinzel', serif;
    text-align: center;
    color: rgb(156, 104, 130);
    @media(max-width:786px) {
        font-size: 20px;
    }
}
 
li {
    list-style: none;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.quote {
    font-family: 'Cinzel', serif;
    text-align: center;
    padding: 30px;
    opacity: 65%;

    @media(max-width:786px) {
        font-size: 13px;
        padding: 3px;
    }
}

.rightside,
.leftside {
    text-align: center;
    align-items: center;
    font-size: 1vw;
    max-width: 500px;
    margin: 0 auto;
    text-transform: lowercase;
    font-family: 'Cinzel', serif;
    height: auto;
    max-height: 600px ;
    @media (min-width: 750px) {
        height: 100vh;
        width: 450px;
    }

}

.portrait_small{
    width:400px;
}

.lead__about {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding-top: 150px;
    height: auto;
    font-size: 1vw;
    @media(max-width:786px) {
        font-size: 13px;
        width: 400px;
        padding-top: 50px;
    }
  
}


.right__side__about,
.left__side__about {
  text-align: center;
  align-items: center;
  font-size: 1vw;
  max-width: 800px;
  margin: 0 auto;
  text-transform: lowercase;
  font-family: "Cinzel", serif;
  padding-bottom: 150px;
  @media(max-width:786px) {
    padding-bottom: 50px;
    padding-top:0;}
    
}
.aboutme{
  margin: 0 auto;

}
.right__side__about{
    margin: 0 auto;
    @media(max-width:786px) {
        padding-bottom: 50px;
        padding-top:0;}
}

.nav {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    padding-top: 10px;
    opacity: 50%;
    font-family: 'Cinzel', serif;

    &-logo {
        height: 75px;
        width: auto;
        justify-content: space-between;
    }

    &-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;

        @media(max-width:786px) {
            position: fixed;
            left: -100%;
            top: 70px;
            gap: 0;
            flex-direction: column;
            background: rgba(0, 0, 0, 0.9);
            width: 100%;
            text-align: center;
            transition: 0.3s;

            &.active {
                left: 0;
            }
        }
    }

    &-link {
        transition: 0.7s ease;

        &:hover {
            color: rgb(156, 104, 130);
        }

    }

    &-item {
        @media(max-width:786px) {
            margin: 16px;
            background: none;
        }

    }
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: white;
}

.parallax {
    background-image: url('../../images/background1.png');
    min-height: 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;

    @media(max-width:786px) {
        background-attachment: inherit !important;
        min-height: 300px;
    }

}

.portrait {
    width: 600px;
    height: auto;
    padding-top: 150px;
    border-bottom: double 5px rgba(0, 0, 0, 0.5);

    @media(max-width:786px) {
        width: 300px;
            font-size: 13px;
            overflow-x: hidden;
            padding-top: 50px;
        }
    }



.footer {
    color: aliceblue;
    justify-content: space-between;

    &__logo {
        height: 200px;
        width: auto;
        padding-top: 25px;
        padding-left: 50px;
    }

    @media(max-width:786px) {
        display: block;
        text-align: center;
        padding-top: 50px;
    }
}

.col {
    opacity: 50%;
    padding-top: 20px;
}

.row {
    color: aliceblue;
    background-color: black;
    text-decoration-style: solid;
}


.svg {
    padding-top: 20px;
}

@media(max-width:786px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}